<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <!-- <statusListener class="ch.qos.logback.core.status.NopStatusListener" /> -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>\t ==> %d{HH:mm:ss} %5p %15c{1} %7M \t %m%n </Pattern>
        </encoder>
	</appender>	
	<logger name="org.springframework" level="warn"/>   
	<logger name="oejh" level="warn"/>   
	<logger name="o.e.j.s" level="warn"/>   
	<logger name="oejuc" level="warn"/>   
    <logger name="org.hibernate" level="warn"/>   
    <logger name="jdbc" level="warn"/>  
    <logger name="jdbc.sqlonly" level="warn"/>   
    <logger name="jdbc.resultsettable" level="warn"/> 
    
	<root level="warn">
        <appender-ref ref="Console" />
	</root>	
	<logger name="com.epam.edu.student" level="debug"/>  
</configuration>